html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: #211f1e;
  //background: url(https://s3.amazonaws.com/codecademy-content/projects/2/forecast/bg.jpg) no-repeat center center fixed; 
  background-size: cover;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; 
  height: 100%;
}

.main {
  height: 100%;
}

.container {
  position: relative;
  padding-top: 100px;
  min-height: 100%;
}

h1 {
  font-family: "HelveticaNeue-UltraLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100px;
  font-weight: normal;
  margin: 0;
  text-align: right;
}

h2 {
  border-top: 1px solid #211f1e;
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0 40px 0;
  padding: 30px 0 0 0;
  text-align: right;
}

.day {
  cursor: pointer;
}

.day > div {
  line-height: 48px;
}

.weekday span {
  font-size: 10px;
}

.weekday p {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.weather img {
  width: 48px;
}

.high p,
.low p,
.hourly .temp {
  font-size: 16px;
}

.hourly {
  text-align: center;
  display: none;
}

.hourly .hour {
  font-weight: bold;
  font-size: 16px;
}

.hourly img {
  width: 24px;
}

.hourly p {
  margin: 16px 0;
}

.last {
  margin-bottom: 100px;
}

.feel{
  text-align: right
}

@media (max-width: 720px) {
  .container {
    background: rgba(255,255,255,0.8);
  }
}
